* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  align-items: center;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  background-repeat: no-repeat;
  color: white;
  font-family: sans-serif;
}
button {
  border-radius: 10px;
}
button:hover {
  background-color: teal;
  color: white;
  border: 2px solid green;
  border-radius: 10px;
}
input{
  border-radius: 10px;
}

.carta {
  border: none;
  font-size: 20px;
}
.flag img {
  border-radius: 50%;
}
.flag {
  text-align: center;
}
.paisesArea img{
  float: left;
}
.paisesArea{
  margin: 5%;
}

.titulo {
  margin-top: 10%;
  font-size: 18px;
}
.historia {
  margin-left: 5%;
}
.historia div {
  margin-left: 5%;
  width: 90%;
  font-size: 14px;
  font-family: sans-serif;
  color: white;
}
@media screen and (max-width: 750px) {
 
  .cajaTexto input {
    width: 50%;
  }
  .flag img {
    width: 80%;
  }
  .carta {
    font-size: 14px;
  }
 
  .titulo {
    font-size: 14px;
  }
}
@media screen and (max-width: 575px) {
 
  .cajaTexto input {
    width: 50%;
  }
  .flag img {
    width: 50%;
  }

  .ancho {
    width: 50%;
  }
  .titulo {
    font-size: 14px;
  }
 
  .pais {
    margin-left: 15%;
    font-size: 14px;
  }
  .clima {
    margin-left: 5%;
    font-size: 14px;
  }
}
