*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    color: white;
    font-family: sans-serif;
}
.cajaTexto{
    margin: 10px;
}
.altura{
    height: 400px;
    border: none;
}
.flag img{
    border-radius: 50%;
}
.container{
    width: 50%;
    height: 50%;
}
.size img{
    width: 320px;
    height: 350px;
}